*{
    font-family: 'Jost', sans-serif;
}

header{
    background-color: #000;
    width: 100%;
    margin:0;
    position: sticky;
    top:0;
    z-index: 1;
}

body{
    margin:0;
    background-color: #000;
}

a{
    text-decoration: none;
    color: inherit;
}
#navegador{
    padding: 1vw;
    box-shadow: 0 0 10px 0 rgba(52, 51, 51, 0.5);
}
.navbar-brand{
    padding-left: 2vw;
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1.7rem;
}
#navbarNavDropdown{
    justify-content: flex-end;
    font-size: 1.3rem;
}

.navbar-nav{
    list-style-type: none;
    
}
.navbar-nav li a{
    color: #fff; 
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

.dropdown-menu{
    background-color: #000;
}

.dropdown-item {
    color: #fff;
  }

.nav-link{
    color: white!important;
}
a{
    color: white;
}
.nav-link:hover{
    color: white;
}
a:hover{
    color: white;
}

.icono{
    height: 4vw;
}

/*a partir de aca va el main*/

h2{
    color: #fff;
    font-size: 4rem;
    margin-top: 1vw;
}

.cajados{
    margin-top: 40px;
}


footer{
    background-color: #000;
    text-align: center;
    padding: 0.02rem;
}

.foot{
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    position: relative;
}

h6{
    color: #fff;
    font-size: 12px;
    margin: 0;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
}

.dropdown-item{
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;    
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 1px;
}
  
.column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
}

.cajaGrande{
    display: flex;
    padding: 2vw;
}
.column1{
    width: 40%;
}
.column2{
    width: 60%;
}

#contain{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#carousel{
    width: 39vw;
    /* margin-left: 5vw; */
    border-radius: 10px;
}

.cardintro{
    width: 40vw;
    background-color: white;
    margin-left: 3vw;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
}
.card-text{
    padding: 1.5vw;
    padding-bottom: 0;
    font-size: 1vw;
}

.card-title{
    margin-left: 1.5vw;
    margin-top: 0.5vw;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
}
.card-header{
    font-size: 1.5vw;
    padding-left: 1vw;
}
.card-text{
    margin-bottom: 0;
}
.btn-primary {
    margin-top: 1rem;
}
.btn-outline-secondary {
    color: #000;
    border-color: #000;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#botonesWork{
    margin-top: 1rem;
} 
.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: #000;
    color: #fff;
}
.workshop {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}

#autoclass{
    margin: 1vw;
}
#one2one{
    margin: 1vw;
}
#brideswork{
    margin: 1vw;
}
#reservAutomaq{
    margin: 20%;
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
#reservAutomaq:hover {
transform: scale(1.05); /* Agrega un efecto de escala al pasar el cursor sobre el botón */
}
 
#reservOne2one{
    margin: 20%;
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
#reservOne2one:hover {
transform: scale(1.05); /* Agrega un efecto de escala al pasar el cursor sobre el botón */
}

#reservBrides{
    margin: 20%;
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
#reservBrides:hover {
transform: scale(1.05); /* Agrega un efecto de escala al pasar el cursor sobre el botón */
}

#cardContact{
    width: 30rem;
    margin: auto;
    margin-top: 2vw;
}

.subRes{
    margin: auto;
    padding: 1vw;
    font-size: auto;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
        }
    .cajaGrande{
        flex-wrap: wrap;
    }
    #contain{
        flex-wrap: wrap;
        margin-left: 0%;
        justify-content: center;
    }
    #carousel{
        margin-left: 0%;
        width: 100%;
        margin-top: 0;
    }
    .cardintro{
        width: 100%;
        margin-left: 0;
        margin: 2vw;
        margin-top: 3vw;
    }
    .card-text{
        font-size: 3.5vw ;
    }
    .card-title{
        font-size: 5vw;
    }
    .card-header{
        font-size: 6vw;
        padding-left: 5vw;
    }
    #autoclass{
        margin: 4vw;
    }
    #one2one{
        margin: 4vw;
    }
    #brideswork{
        margin: 4vw;
    }
    #reservAutomaq{
        margin:0 20% 5% 20%;
    }
    #reservOne2one{
        margin:0 20% 5% 20%;
    }
    #reservBrides{
        margin:0 20% 5% 20%;
    }

    #cardContact{
        margin: auto;
        width: 21rem;
    }

    .subRes{
        padding: 4vw;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .column1{
        width: 100%;
        
    }
    .column2{
        width: 100%;
        flex: 100%;
        max-width: 100%;
        margin: 2vw;
    }
    .cardintro{
        width: 100%;
    }
}


/* CONTACTO HTML */

input{
    margin: 0;
}

.contact{
    color: white;
    margin: 1vw;
    font-weight: lighter;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.002);
}
  
.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
}

.carousel-item{
    transition: transform .7s ease-in-out;
}

#p2{
    padding-bottom: 1vw;
}

/* .row-cols-1{
    flex: 0 0 auto;
    width: 33.3%;
} */

/* @media (min-width: 768px){
    .row-cols-md-2{
        flex: 0 0 auto;
        width: 33.3%;
    }
}    */

#consistof{
    color: black;
}

#listita{
    padding-top: 10%;
    margin-left: 20px;
}

#listita li{
    margin-bottom: 0.5rem;
}

#deepinfo{
    background-color: white;
    padding: 0.01vw 0 0.5vw 0;
    margin-top: 3rem;
}

#cardsinfo{
    background-color: black;
    color: white;
    margin-top: 2rem;
}

#int{
    margin-bottom: 5vw;
}

#cajitaAuto{
    box-shadow: 0 0 20px 0 black;
}

#cajitaOne{
    box-shadow: 0 0 20px 0 black;
}

#cajitaBrides{
    box-shadow: 0 0 20px 0 black;
}

/* .img-fluid {
    padding: 20px;
    width: 60%;
} */

#cont{
    background-color: white;
    padding: 1vw 1vw 1vw 1vw;
    margin: 1vw;
    border-radius: 20px;
}

.form-floating{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form-select{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#envRes{
    margin: 1rem;
}