*{
    font-family: 'Jost', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    position: relative;
    padding: 37.9px 0px 40px 0px;

}
body{
    margin:0;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    margin: auto;
    align-items: center;
    background-color: black;
}

h1{
    color: white;
    padding-left: 2vw;
}
.contenedor ul{
    list-style-type: none;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    text-align: center;
}

.contenedor li{
    float: left;
    padding: 10px;
    margin: 10px;
    width: auto;
}

.contenedor li a{
    display: block;
    color: white;    
    text-decoration: none;
    text-align: center;
}


<!--a partir de aca va el main-->

h2{
    color: black; 
    font-size: 60px;
}

.cajados{
    margin-top: 40px;
}

main{
    border: none;
}
#segunda{
    border: none;
    margin: 20px;
}

.listas{ 
    background-color: lightblue; 
    color: black;
    overflow: hidden;
    border: none;
    list-style-type: none;
}

.listas li a{
    justify-content: center;
    border: none;
    text-decoration: none;
    color: black;

}

#n1{
    font-size: 25px;
}

#n2{
    font-size: 20px;
}

p{
    border: none;
    padding: 20px;
}