*{
    font-family: 'Jost', sans-serif;
}

header{
    background-color: black;
    width: 100%;
    margin:0;
    position: sticky;
    top:0;
    z-index: 1;
}

body{
    margin:0;
    background-color: black;
}

a{
    text-decoration: none;
}
#navegador{
    padding: 1vw;
}
.navbar-brand{
    padding-left: 2vw;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1.7rem;
}
#navbarNavDropdown{
    justify-content: flex-end;
    font-size: 1.3rem;
}

.navbar-nav{
    list-style-type: none;
    /* align-items: flex-start; */
}
.navbar-nav li a{
    color: white;    
    text-decoration: none;
    text-align: center;
}

.dropdown-menu{
    color: white;
    background-color: black;
}
.nav-link{
    color: white!important;
}
a{
    color: white;
}
.nav-link:hover{
    color: white;
}
a:hover{
    color: white;
}

.icono{
    height: 4vw;
}
/* div.navegador ul li a.current{
    color: red;
} */

/*a partir de aca va el main*/

h2{
    color: black; 
    font-size: 60px;
}

.cajados{
    margin-top: 40px;
}


#segunda{
    border: none;
    margin: 20px;
}

.listas{ 
    background-color: lightblue; 
    color: black;
    overflow: hidden;
    border: none;
    list-style-type: none;
}

.listas li a{
    justify-content: center;
    text-decoration: none;
    color: black;

}

/* a:hover{

} */

#n1{
    font-size: 25px;
}

#n2{
    font-size: 20px;
}

p{
    border: none;
    padding: 20px;
}

footer{
    background-color: black;
    text-align: center;
}

.foot{
    height: 54px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    position: relative;
}

h6{
    color: white;
    font-size: 12px;
    margin: 0;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
}

.dropdown-item{
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;    
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 1px;
}
  
.column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
}

.cajaGrande{
    display: flex;
    padding: 2vw;
}
.column1{
    width: 40%;
}
.column2{
    width: 60%;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
        }
    .cajaGrande{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .column1{
        width: 100%;
        
    }
    .column2{
        width: 100%;
        flex: 100%;
        max-width: 100%;
        margin: 2vw;
    }
}

/* CONTACTO HTML */

input{
    margin: 0;
}

.contact{
    color: white;
    margin: 1vw;
    font-weight: lighter;
}

.card{
    margin: auto;
}

.card-title{
    margin-left: 1.5vw;
    font-weight: bold;
    margin-bottom: 0;
}

.card-text{
    padding: 1.5vw;
}