*{
    font-family: 'Jost', sans-serif;
}

header{
    background-color: black;
    width: 100%;
    margin:0;
    position: sticky;
    top:0;
}

body{
    margin:0;
    background-color: black;
}

a{
    text-decoration: none;
}

h1{
    padding-left: 2vw;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    font-weight: 1000;
}
.navbar-brand{
    padding-bottom: 0;
}

.navegador ul{
    list-style-type: none;
    align-items: center;
}
.navbar{
    padding-bottom: 0;
    height: 7vw;
}
.navegador li{
    display: inline;
    margin: 3vw;
    font-size: 1.5vw;
}

.navegador li a{
    color: white;    
    text-decoration: none;
    text-align: center;
}

div.navegador ul li a.current{
    color: red;
}


/*a partir de aca va el main*/

h2{
    color: black; 
    font-size: 60px;
}

.cajados{
    margin-top: 40px;
}


#segunda{
    border: none;
    margin: 20px;
}

.listas{ 
    background-color: lightblue; 
    color: black;
    overflow: hidden;
    border: none;
    list-style-type: none;
}

.listas li a{
    justify-content: center;
    text-decoration: none;
    color: black;

}

#n1{
    font-size: 25px;
}

#n2{
    font-size: 20px;
}

p{
    border: none;
    padding: 20px;
}

footer{
    background-color: #bcbcbc;
    text-align: center;
}

.foot{
    height: 54px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    position: relative;
}

h6{
    color: black;
    font-size: 12px;
    margin: 0;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
}
input{
    border-radius: 0;
    border: 1px solid #303030;
    background-color: white;
    padding: 15px;
    margin: 15px ;
}
/* 
.row row-cols-3{
    width: 100%;
}
.col{
    padding: 0;
}
.col img{
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
#col1 img{
    height: 20vw;
}

#col2 img{
    height: 18vw;
}
#col3 img{
    height: 18vw;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 1px;
  }
  
  .column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }