*{
    font-family: 'Jost', sans-serif;
}

header{
    background-color: black;
    width: 100%;
    margin:0;
    position: sticky;
    top:0;
    z-index: 1;
}

body{
    margin:0;
    background-color: black;
}

a{
    text-decoration: none;
}
#navegador{
    padding: 1vw;
}
.navbar-brand{
    padding-left: 2vw;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1.7rem;
}
#navbarNavDropdown{
    justify-content: flex-end;
    font-size: 1.3rem;
}

.navbar-nav{
    list-style-type: none;
    /* align-items: flex-start; */
}
.navbar-nav li a{
    color: white;    
    text-decoration: none;
    text-align: center;
}

.dropdown-menu{
    color: white;
    background-color: black;
}
.nav-link{
    color: white!important;
}
a{
    color: white;
}
.nav-link:hover{
    color: white;
}
a:hover{
    color: white;
}

.icono{
    height: 4vw;
}

/*a partir de aca va el main*/

h2{
    color: black; 
    font-size: 60px;
}

.cajados{
    margin-top: 40px;
}


#segunda{
    border: none;
    margin: 20px;
}

.listas{ 
    background-color: lightblue; 
    color: black;
    overflow: hidden;
    border: none;
    list-style-type: none;
}

.listas li a{
    justify-content: center;
    text-decoration: none;
    color: black;

}

#n1{
    font-size: 25px;
}

#n2{
    font-size: 20px;
}

footer{
    background-color: black;
    text-align: center;
}

.foot{
    height: 54px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    position: relative;
}

h6{
    color: white;
    font-size: 12px;
    margin: 0;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
}

.dropdown-item{
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;    
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 1px;
}
  
.column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100%;
}

.cajaGrande{
    display: flex;
    padding: 2vw;
}
.column1{
    width: 40%;
}
.column2{
    width: 60%;
}

#contain{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#carousel{
    width: 39vw;
    /* margin-left: 5vw; */
    border-radius: 10px;
}
.cardintro{
    width: 40vw;
    background-color: white;
    margin-left: 3vw;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
}
.card-text{
    padding: 1.5vw;
    padding-bottom: 0;
    font-size: 1vw;
}

.card-title{
    margin-left: 1.5vw;
    margin-top: 0.5vw;
    font-weight: bold;
    font-size: 1.4vw;
    margin-bottom: 0;
}
.card-header{
    font-size: 1.5vw;
    padding-left: 1vw;
}
/* .card-body{
    padding: 0.5vw;
    padding-bottom: 1vw;
} */

#autoclass{
    margin: 1vw;
}
#one2one{
    margin: 1vw;
}
#brideswork{
    margin: 1vw;
}
#reservAutomaq{
    margin: 20%;
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
#reservAutomaq:hover {
transform: scale(1.1); /* Agrega un efecto de escala al pasar el cursor sobre el botón */
}
 
#reservOne2one{
    margin: 20%;
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
#reservOne2one:hover {
transform: scale(1.1); /* Agrega un efecto de escala al pasar el cursor sobre el botón */
}

#reservBrides{
    margin: 20%;
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
#reservBrides:hover {
transform: scale(1.1); /* Agrega un efecto de escala al pasar el cursor sobre el botón */
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
        }
    .cajaGrande{
        flex-wrap: wrap;
    }
    #contain{
        flex-wrap: wrap;
        margin-left: 0%;
        justify-content: center;
    }
    #carousel{
        margin-left: 0%;
        width: 100%;
        margin-top: 0;
    }
    .cardintro{
        width: 100%;
        margin-left: 0;
        margin: 2vw;
        margin-top: 3vw;
    }
    .card-text{
        font-size: 3.5vw ;
    }
    .card-title{
        font-size: 5vw;
    }
    .card-header{
        font-size: 6vw;
        padding-left: 5vw;
    }
    #autoclass{
        margin: 4vw;
    }
    #one2one{
        margin: 4vw;
    }
    #brideswork{
        margin: 4vw;
    }
    #reservAutomaq{
        margin:0 20% 5% 20%;
    }
    #reservOne2one{
        margin:0 20% 5% 20%;
    }
    #reservBrides{
        margin:0 20% 5% 20%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .column1{
        width: 100%;
        
    }
    .column2{
        width: 100%;
        flex: 100%;
        max-width: 100%;
        margin: 2vw;
    }
    .cardintro{
        width: 100%;
    }
}


/* CONTACTO HTML */

input{
    margin: 0;
}

.contact{
    color: white;
    margin: 1vw;
    font-weight: lighter;
}

.card{
    margin: auto;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
}

.carousel-item{
    transition: transform .7s ease-in-out;
}

#p2{
    padding-bottom: 1vw;
}

/* .row-cols-1{
    flex: 0 0 auto;
    width: 33.3%;
} */

/* @media (min-width: 768px){
    .row-cols-md-2{
        flex: 0 0 auto;
        width: 33.3%;
    }
}    */

#consistof{
    color: black;
}

#listita{
    padding-top: 10%;
    margin-left: 20px;
}

#deepinfo{
    background-color: white;
    padding: 0.01vw 0 0.5vw 0;
}

#cardsinfo{
    background-color: black;
    color: white;
    margin-top: 2vw;
}

#int{
    margin-bottom: 5vw;
}

#cajitaAuto{
    box-shadow: 0 0 20px 0 black;
}

#cajitaOne{
    box-shadow: 0 0 20px 0 black;
}

#cajitaBrides{
    box-shadow: 0 0 20px 0 black;
}
